<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Reset Code</title>
    </head>
    <body style="background-color: whitesmoke;">
        <div style="width: 100%; max-width: 500px; display: block; margin: auto auto;background-color: white;">
            <p style="text-align: justify; margin-Left: auto; margin-right: auto; padding-top: 30px; width: 375px;">Dang you lost your password.  We generated a code so that you can reset and login back into your account and enjoying our content.</p>
            <p style="text-align: center; font-family: monospace; letter-spacing: 3px; font-size: 30px;margin-bottom: 30px;color: #FA8072;">{{ code }}</p>
            <img src="cid:logo.png" width="250px" alt="BigChief logo" style="display: block; margin-right: auto; margin-left: auto; padding-bottom: 30px;"/>
        </div>
    </body>
</html>